$grey: #e6e4e4;
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  margin-top: 60px;
  font-size: 16px;
}

.heading{
  text-align: center;
  font-size: 32px;
}


/* Header */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #c9c9ca;
  z-index: 900;
  background: #FFF;
  .container{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }
}
.logo{
  font-weight: bold;
  font-size: 24px;
}
.nav_link{
  font-weight: bold;
  margin-right: 15px;
}
.nav_link:last-child{
  margin-right: 0
}
.nav_link.active{
  color: #61dafb;
}
.offer_go_place{
  width: 100%;
  text-align: center;
  margin:15px 0;
}
.offer_go{
  font-size: 14px;
  color: #2025ff;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px solid #2025ff;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #797979FF;
}


.content{
  min-height: 75vh;
  margin-top: 120px;
}
.container{
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #353925;
}

a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

input, textarea, select, button {
  border: 0;
  outline: none;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
  border: 0;
}