$grey: #f6f6f6;
$blue: #1b75e8;
$fontSize: 18px;
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  margin-top: 60px;
  font-size: 16px;
  background: $grey;
}
body.hidden{
  overflow: hidden;
}
.heading{
  text-align: center;
  font-size: 32px;
  padding-bottom: 10px;
}

/* Header */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom: 3px solid #a4a4a4;
  z-index: 900;
  background: #1b4468;
  .container{
    display: flex;
    height: 80px;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.logo_place{
  display: flex;
  align-items: center;
  height: 60px;
  width: 30%;
}
.logo_img{
  height: 60px;
  width: 60px;
}
.logo{
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  margin-right: 40px;
}
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 70%;
}
.nav_link{
  font-weight: bold;
  margin-right: 15px;
  color: #FFFFFF;
}
.nav_link:last-child{
  margin-right: 0
}
.nav_link.active{
  color: #046ff3;
}
.offer_go_place{
  width: 100%;
  text-align: center;
  margin:15px 0;
}
.offer_go{
  font-size: 14px;
  color: $blue;
  font-weight: bold;
  padding-bottom: 1px;
  border-bottom: 1px solid $blue;
}

.diagonal-line {
  background-image: linear-gradient(to bottom right, transparent 45%, #e2e2e2, transparent 50%);
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  transform: rotate(
                  164deg
  );
}
.right_nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #797979FF;
}

.container{
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
.mobile_menu_place {
  width: 50px;
  height: 40px;
  margin-top: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  float: right;
  z-index: 999;
}

.mobile_menu_place span {
  margin-top: 5px;
  width: 100%;
  background: #FFFFFF;
  height: 4px;
  border-radius: 5px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  opacity: 1;
}

.mobile_menu_place span:first-child {
  margin-top: 0;
}

.mobile_menu_place._active span:nth-child(2n) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  background: #db152c;
}

.mobile_menu_place._active span:first-child {
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.mobile_menu_place._active span:last-child {
  background: #db152c;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  margin-bottom: 23px;
  margin-top: -5px;
}

@media screen and (max-width: 1250px) {
  .container{
    padding: 50px 20px;
  }
  .header{
    .container{
      display: block;
    }
  }
  .logo_place{
    width: 100%;
    height: 80px;
    justify-content: center;
  }
  .nav{
    transform: translate(250%, 0);
    transition: transform .5s;
  }
  .nav.open{
    transform: translate(0, 0);
    transition: transform 0.3s;
    position: fixed;
    right: 0;
    top: 0;
    width: 40vw;
    height: 100vh;
    background: #1b4468;
    border-left: 3px solid #a4a4a4;
    border-bottom-left-radius: 10px;
    display: flex;
    padding: 50px 0;
    flex-direction: column;
  }
  .nav_link{
    margin-top: 30px;
  }
  .diagonal-line{
    display: none;
  }
  .logo{
    flex-direction: row;
    span{
      margin-right: 10px;
    }
  }
  .mobile_menu_place {
    display: flex;
    position: absolute;
    right: 15px;
    top: 10px;
  }
}
@media screen and (max-width: 700px) and (min-width: 450px) {
  .nav.open{
    width: 60vw;
  }
}
@media screen and (max-width: 450px) and (min-width: 150px) {
  .nav.open{
    width: 90vw;
  }
}
a {
  text-decoration: none;
  color: #353925;
}

a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}
h1{
  font-size: 36px;
  margin: 0 0 20px 0;
  font-weight: bold;
}

input, textarea, select, button {
  border: 0;
  outline: none;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
  border: 0;
}