@import "default";

/*=== Регистрация и авторизация ===*/
.modal_window_place{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_window{
  width: 50%;
  height: 60%;
  box-shadow: 2px 5px 5px 5px #c1c1c1;
  border-radius: 15px;
  padding: 15px 25px 5px;
  background: #FFFFFF;
}
@media screen and (max-width: 900px) {
  .modal_window{
    width: 80%;
  }
}

.label{
  font-size: $fontSize;
  margin: 10px 0;
}
.default_input{
  border: 1px solid #c1c0c0;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 16px;
  width: 100%;
}
.default_input:focus{
  border: 1px solid #c1c0c0;
  box-shadow: 2px 1px 2px 1px #c1c0c0;
  transition: box-shadow .3s;
}
.default_btn{
  border: 1px solid #c1c0c0;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: $fontSize;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
  background: $blue;
  color: #FFFFFF;
  transition: all .3s;
}
.default_btn:hover{
  box-shadow: 2px 1px 2px 1px $grey;
  transition: all .3s;
}
@media screen and (max-width: 550px) {
  .label{
    font-size: 15px;
  }
  .default_input{
    font-size: 14px;
  }
  .default_btn{
    margin-top: 15px;
  }
  .heading{
    font-size: 24px;
  }
}
/* Notification */
.notification{
  transform: translate(120%, 0);
  position: absolute;
  bottom: 40px;
  right: 15px;
  transition: transform .4s;
  width: auto;
  min-width: 250px;
  max-width: 350px;
}
.notification._active{
  transform: translate(0, 0);
  transition: transform .4s;
}
.notification_data{
  border-radius: 5px;
  font-weight: bold;
}
.notification_data.success{
  background: #4ffa4f;
}
.notification_data.error{
  background: #c90303;
}
.notification_heading{
  text-align: center;
  border-bottom: 2px solid $grey;
  font-size: 16px;
  padding: 10px 20px;
}
.notification_text{
  text-align: center;
  font-size: 14px;
  padding: 10px 20px;
}

/* Loader */
.lds-roller {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 15px 0 0 30px;

}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
  -ms-transform-origin: 40px 40px;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #1c9afa;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Top игроки */
.heading_players_place{
  display: flex;
  align-items: center;
  width: 50%;
  transition: background .3s;
  .heading_players{
    background: #1b4468;
    color: #FFFFFF;
    border-right: 1px solid #e6e4e4;
    padding: 15px 0;
    width: 50%;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
  }
  .heading_players:last-child{
    border: 0;
  }
}
.data_players_place{
  display: flex;
  align-items: center;
  width: 50%;
  border-bottom: 1px solid #e6e4e4;
  margin-bottom: 2px;
  transition: all .3s;
  .heading_players{
    padding: 15px 0;
    width: 50%;
    text-align: center;
  }
  .heading_players:last-child{
    border: 0;
  }
}
@media screen and (max-width: 900px) and (min-width: 700px) {
  .heading_players_place {
    width: 80%;
  }
  .data_players_place{
    width: 80%;
  }
}
@media screen and (max-width: 700px) and (min-width: 200px) {
  .heading_players_place {
    width: 100%;
  }
  .data_players_place{
    width: 100%;
  }
}
.data_players_place.gold{
  color: #ffdb1e;
  font-weight: bold;
  font-size: 22px;
}
.data_players_place.silver{
  color: #a2a2a2;
  font-weight: bold;
  font-size: 20px;
}
.data_players_place.bronze{
  color: #875d1d;
  font-weight: bold;
  font-size: 18px;
}
.data_players_place:hover{
  background: $blue;
  color: #FFFFFF;
  transition: all .3s;
}

/*=== Результаты матчей ===*/
.games_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e6e4e4;
  padding: 10px 0;
  width: 50%;
}
.games_card:first-child{
  border-top: 2px solid #e6e4e4;
}
.games_card__teams_place{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.games_card__score_place{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.games_card__data{
  padding-bottom: 15px;
  font-size: 20px;
}
.games_card__data.winner{
  font-weight: bold;
}
.games_card__data:last-child{
  padding-bottom: 0;
}

/* Страница пользователя */
.user_new_game_place{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  margin-top:25px;
}
.user_new_game__item{
  width: 30%;
  font-weight: bold;
  position: relative;
  span{
    display: block;
  }
  .users_search_items{
    position: absolute;
    top: 80px;
    width: 100%;
    background: #FFFFFF;
    padding: 10px 0;
  }
  .user_search_item{
    padding: 8px 5px;
    display: block;
    cursor: pointer;
    transition: background .3s;
  }
  .user_search_item:hover{
    background: #1b75e8;
    transition: background .3s;
  }
  .user_search_item._active{
    background: #1b75e8;
  }
}
.user_new_game__item:nth-child(2n){
  text-align: center;
}
.score_input_place{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.score_input{
  width: 45%;
  padding: 8px 0;
  border-radius: 10px;
  border:1px solid #c1c0c0;
}
.user_data_place{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 0;
  .heading{
    text-align: left;
  }
}




